
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height:60px;
}

li {
    float: left;
    margin-left:50px;
  margin-top:20px;
  color:white;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

textarea{
	width:95%;
	height:570px;
	margin-left:40px;
	resize:none;
}

input{
	margin-left:210px;
	
}
button{
	margin-left:30px;
}
img{
	width:32px;
}
.fulldetail {
   
    width:120px;
    height:90px; 
    padding: 25px;
    border: 3px solid #9c27b0;
    margin: 2px;
      float:left;
}