
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height:60px;
}

li {
    float: left;
    margin-left:50px;
  margin-top:20px;
  color:white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}
textarea{
	width:560px;
	height:220px;
	margin-left:40px;
}
.ss{
	border:1px solid black;
}
